#meal-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}
#meal-list img{
    height: 300px;
    width: 300px;
    border-radius: 10px;

}
#meal-list h4{
    font-style: italic;
    text-align: center;
}

#meals-details img{
    height: 270px;
    width: 500px;
    border-radius: 10px;
}

#meals-details h2{
    text-align: center;
    padding: 10px 5px;
    font-weight: 600;
}